<div class="container">
    <form #statusForm="ngForm" (submit)="signup()" class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" required email
         [(ngModel)]="signupForm.email" #email="ngModel">
        <div class="alert alert-danger" *ngIf="email.invalid && (email.direct || email.touched)">
            <div *ngIf="email.errors.required">Email is required!</div>
            <div *ngIf="email.errors.email">Invalid email!</div>
        </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required
            minlength="6" maxlength="18" [(ngModel)]="signupForm.password" #password="ngModel">
        <div class="alert alert-danger" *ngIf="password.invalid && (password.direct || password.touched)">
            <div *ngIf="password.errors.required">Password is required!</div>
            <div *ngIf="password.errors.minlength">Password minlength is 6!</div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="statusForm.form.invalid">Sign up</button>
    </form>
    <p class="info"><a href="signin.html">Already have an account? Login here.</a></p>
</div>